Do some machine learning on data found here http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/using aimed at predicting whether or not a person will make over 50k a year. Do it in an IPython Notebook. Look in adult.data for the data, save it as a csv file. The adult.names file has information about the set. 

# [DONE] 2 pts Create a notebook.

### Changed Features for dataframe as described in  adult.names for readability
### age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex capital-gain, capital-loss, hours-per-week: continuous, native-country

In [9]:
import pandas as pd
import numpy as np

train_data = 'adult.data'
test_data = 'adult.test'
features = ["age", "workclass", "fnlwgt", "education", "education_num",
           "marital_status", "occupation", "relationship", "race", "gender",
           "capital_gain", "capital_loss", "hours_per_week", "native_country",
           "income"]
train_df = pd.read_csv(train_data, header=None, names=features, sep=',\s', na_values=["?"])
test_df = pd.read_csv(test_data, header=None, names=features, sep=',\s', na_values=["?"])
# train_df.dtypes
train_df.info()

/home/cowboyuniverse/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

/home/cowboyuniverse/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.

### Seperating object from int64

In [42]:
obj_train_df = train_df.select_dtypes(include=['object']).copy()
int64_train_df = train_df.select_dtypes(include=['int64']).copy()

obj_test_df = test_df.select_dtypes(include = ['object']).copy()
int64_test_df = test_df.select_dtypes(include = ['object']).copy()

# obj_train_df.head()

# [DONE] 2 pts Replace all empty numeric fields with the average of its column in this new column.

### There are no any empty numeric fields 'False' and putting all averages NaN values inside obj_train_df

In [49]:
#False
int64_train_df.isnull().values.any()

#True
int64_test_df.isnull().values.any()

True

### Check for any NaN values

In [54]:
obj_train_df[obj_train_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [workclass, education, marital_status, occupation, relationship, race, gender, native_country, income]
Index: []

In [2]:
obj_test_df[obj_test_df.isnull().any(axis=1)]

NameError: name 'obj_test_df' is not defined

# Look for the most common value

In [59]:
# obj_train_df["workclass"].mode()
# obj_train_df["education"].mode()
# obj_train_df["marital_status"].mode()
# obj_train_df["occupation"].mode()
# obj_train_df["relationship"].mode()
# obj_train_df["race"].mode()
# obj_train_df["gender"].mode()
# obj_train_df["native_country"].mode()

train_df = train_df.fillna({"workclass": "Private",
                                    "education":"HS-grad",
                                    "marital_status":"Married-civ-spouse",
                                    "occupation": " Prof-specialty" ,
                                    "relationship": "Husband",
                                    "race": "White",
                                    "gender": "Male"  ,
                                    "native_country": "United-States"
                                   })

# train_df[train_df.isnull().any(axis=1)]

#### There are no NaN values

In [60]:
ohe_df = pd.get_dummies(train_df, columns= train_df.select_dtypes(include=['object']))

obj_train_df

In [1]:

# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)


# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(train_df, test_df, test_size=0.33)

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test  = train_test_split(ohe_df, train_size = 0.8)


# from sklearn.model_selection import train_test_split
# train, test = train_test_split(ohe_df, train_size = 0.8)

# from sklearn.datasets import load_iris
# from sklearn.naive_bayes import GaussianNB
# import numpy as np

# gnb = GaussianNB()
# data = load_iris()
# X = data.data
# y = data.target
# print(X.shape)
# print(y.shape)

X = train
y = test
print(X.shape)
print(y.shape)
# (26048, 108)
# (6513, 108)

/home/cowboyuniverse/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

NameError: name 'ohe_df' is not defined

done 2 pts Create a notebook.

done 2 pts Replace all empty numeric fields with the average of its column in this new column (if there are any, if not, you get 2 free points).

2 pts Either:

a) Replace all categorical data (data that is in categories, not numbers) with one-hot encoding (see http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) or

b) Convert non-numeric columns (that is, categorical data) to columns with an integer representations (like we did with the decision trees). 

Note: for "?", please find the value that is most common in the column it is found and replace the "?" with it.

2 pts Convert the data to a numpy array if it isn't one already.

2 pts Divide the data into a training and test set.

2 pts Run both a random forest and gaussian naive bayes on the training set.

2 pts Compute the accuracy of predictions on the test set.


2pts each extra credit: Use another additional classifier.

In [ ]:
# train_df[object_columns=='?'] = 0
# train_df[train_df=='?'] = 0

    
# train_df[object_columns] 

    
# df = train_df.where(((train_df)) == '?', 0)


#  ["workclass", "education", "marital_status", "occupation",
#                        "relationship", "race", "gender", "native_country"]

# train_df = train_df.fillna({
#     'workclass': '?',
#     'education': '?',
#     'marital_status': '?',
#     'occupation': '?',
#     'relationship': '?',
#     'race': '?', 
#     'gender': '?', 
#     'native_country': '?'
# })
# train_df = train_df.replace("?", 0)
# train_df['workclass'] = train_df['workclass'].replace('NaN', 0)
obj_train_df['workclass'] = obj_train_df['workclass'].apply(lambda x: 0 if x == 'NaN' else x)

# train_df[['workclass'][train_df['workclass'] == '?'] = 0

# train_df['workclass'].replace('?', '0')

# train_df['workclass'].replace('?', 0)

# train_df.replace('?', train_df.replace([''], [0])
                 
# for item in train_df[object_columns]['workclass']:
# #     if
#     print(item)

In [ ]:
obj_train_df

In [ ]:
train_df[object_columns]

In [ ]:
int64_columns = ["age", "education_num", "capital_gain", "capital_loss", "hours_per_week"]
train_df[int64_columns].head()
object_columns = ["workclass", "education", "marital_status", "occupation",
                       "relationship", "race", "gender", "native_country"]


- [ ] 2 pts Convert the data to a numpy array if it isn't one already.
- [ ] 2 pts Divide the data into a training and test set.

- [ ] 2 pts Run both a random forest and gaussian naive bayes on the training set.
- [ ] 2 pts Compute the accuracy of predictions on the test set.
- [ ] 2pts each extra credit: Use another additional classifier.


#### fnlwgt: continuous.
#### education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
#### education-num: continuous.
#### marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
#### occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
#### relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
#### race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
#### sex: Female, Male.
#### capital-gain: continuous.
#### capital-loss: continuous.
#### hours-per-week: continuous.
#### native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.