Yosep Kim

Do some machine learning on data found here http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/using aimed at predicting whether or not a person will make over 50k a year. Do it in an IPython Notebook. Look in adult.data for the data, save it as a csv file. The adult.names file has information about the set. 

**DONE** 2 pts Create a notebook.

**DONE** 2 pts Replace all empty numeric fields with the average of its column in this new column (if there are any, if not, you get 2 free points).

**DONE** 2 pts Either:
<hr>
a) Replace all categorical data (data that is in categories, not numbers) with one-hot encoding (see http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) or

b) Convert non-numeric columns (that is, categorical data) to columns with an integer representations (like we did with the decision trees). 
<hr>
**DONE**
Note: for "?", please find the value that is most common in the column it is found and replace the "?" with it.

**DONE** 2 pts Convert the data to a numpy array if it isn't one already.

**DONE** 2 pts Divide the data into a training and test set.

**DONE** 2 pts Run both a random forest and gaussian naive bayes on the training set.

**DONE**
2 pts Compute the accuracy of predictions on the test set.

**DONE**
2pts each extra credit: Use another additional classifier.


# [DONE] 2 pts Create a notebook.

### Changed Features for dataframe as described in  adult.names for readability
## age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex capital-gain, capital-loss, hours-per-week: continuous, native-country

## Changed '?' to NaN values to use '.fillna()' function

In [113]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

train_data = 'adult.data'
test_data = 'adult.test'
features = ["age", "workclass", "fnlwgt", "education", "education_num",
           "marital_status", "occupation", "relationship", "race", "gender",
           "capital_gain", "capital_loss", "hours_per_week", "native_country", "income"]
train_df = pd.read_csv(train_data, header=None, names=features, sep=',\s', na_values=["?"])
train_df.info()

/home/cowboyuniverse/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # This is added back by InteractiveShellApp.init_path()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
gender            32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB


# [done] 2 pts Convert the data to a numpy array if it isn't one already.

In [106]:
my_data =  np.loadtxt('adult.data', dtype=str, delimiter=',')
# my_data

# [done] 2 pts Divide the data into a training and test set.

In [3]:
features_for_X = ["age", "workclass", "fnlwgt", "education", "education_num",
           "marital_status", "occupation", "relationship", "race", "gender",
           "capital_gain", "capital_loss", "hours_per_week", "native_country"]

X = train_df[features_for_X]

y = train_df['income']

### Seperating object and int64

In [4]:
obj_train_df = X.select_dtypes(include=['object']).copy()
int64_train_df = X.select_dtypes(include=['int64']).copy()
# obj_train_df.head()

# [DONE] 2 pts Replace all empty numeric fields with the average of its column in this new column.

### There are no any empty numeric fields 'False' and putting all averages NaN values inside obj_train_df

In [5]:
#False
int64_train_df.isnull().values.any()

False

### Check for any NaN values

In [6]:
obj_train_df[obj_train_df.isnull().any(axis=1)].head()

,workclass,education,marital_status,occupation,relationship,race,gender,native_country
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,NaN
27,NaN,Some-college,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,South
38,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,NaN
51,Private,HS-grad,Never-married,Other-service,Own-child,White,Female,NaN
61,NaN,7th-8th,Married-spouse-absent,NaN,Not-in-family,White,Male,NaN

## Look for the most common value and fill NaN with those values and filling in NaN values

In [7]:
# obj_train_df["workclass"].mode()
# obj_train_df["education"].mode()
# obj_train_df["marital_status"].mode()
# obj_train_df["occupation"].mode()
# obj_train_df["relationship"].mode()
# obj_train_df["race"].mode()
# obj_train_df["gender"].mode()
# obj_train_df["native_country"].mode()
X = X.fillna({"workclass": "Private",
                            "education":"HS-grad",
                            "marital_status":"Married-civ-spouse",
                            "occupation": " Prof-specialty" ,
                            "relationship": "Husband",
                            "race": "White",
                            "gender": "Male"  ,
                            "native_country": "United-States"
            })

train_df[train_df.isnull().any(axis=1)].head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
27,54,NaN,180211,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,NaN,>50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,NaN,<=50K
61,32,NaN,293936,7th-8th,4,Married-spouse-absent,NaN,Not-in-family,White,Male,0,0,40,NaN,<=50K

# [Done]   Replace all categorical data (data that is in categories, not numbers) with one-hot encoding

In [8]:
# one_hot_encoding_df = pd.get_dummies(X, columns= X.select_dtypes(include=['object']))
one_hot_encoding_df = pd.get_dummies(X)
one_hot_encoding_df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native_country_Portugal,native_country_Puerto-Rico,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

# [done] Divide the data into a training and test set.

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(one_hot_encoding_df, y, test_size=0.33)

print(X_train.shape)
print(y_train.shape)

(21815, 106)
(21815,)

# [done] Run a random forest on the training set.

#  random forest

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
# my_decisiontree = DecisionTreeClassifier()
clf = tree.DecisionTreeClassifier(criterion="entropy") 
clf.fit(X_train, y_train)
rand_tree_predict = clf.predict(X_test)

print(rand_tree_predict)

['<=50K' '<=50K' '<=50K' ..., '<=50K' '<=50K' '<=50K']

# [done] 2 pts Compute the accuracy of predictions on test set
## Random Forest Accuracy

In [11]:
acc_train = clf.score(X_train, y_train)
acc_test = clf.score(X_test, y_test)
print("Accuracy on training data:", acc_train)
print("Accuracy on test data:", acc_test)

Accuracy on training data: 0.999954159982
Accuracy on test data: 0.820119114089

In [12]:
clf1 = tree.DecisionTreeClassifier(criterion="entropy", min_samples_split=2)
clf2 = tree.DecisionTreeClassifier(criterion="entropy", min_samples_split=90)
clf1.fit(X_train, y_train)
clf2.fit(X_train, y_train)

acc_min_samples_split_2 = clf1.score(X_test, y_test)
acc_min_samples_split_50 = clf2.score(X_test, y_test)

print("Accuracy with min split = 2:", acc_min_samples_split_2)
print("Accuracy with min split = 100:", acc_min_samples_split_50)

Accuracy with min split = 2: 0.819746882561
Accuracy with min split = 100: 0.851386562442

## Random Forest Metrics

In [13]:
print(classification_report(y_test, rand_tree_predict))

             precision    recall  f1-score   support

      <=50K       0.88      0.88      0.88      8173
       >50K       0.62      0.63      0.63      2573

avg / total       0.82      0.82      0.82     10746

In [14]:
import pydotplus

tree.export_graphviz(clf2, out_file='imgs/tree.dot')

! dot -Tpng imgs/tree.dot -o imgs/result.png

![](imgs/result.png)

# [done]  gaussian naive bayes on the training set.

## gaussian naive bayes

In [15]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

gnb.fit(X_train, y_train)
gnb_prediction = gnb.predict(X_test)
print(gnb_prediction)

# score_lr = accuracy_score(y_test, y_predict_logreg)
# print("Acurracy on Logistic Regression Classifier: " , score_lr)


# y_test_list = list(y_test)
# linreg_converted_list_y_test= convert_from_string_to_binary(y_test_list)


# linreg_acc_train = linreg.score(X_train, linreg_converted_list_y_train)
# linreg_acc_test = linreg.score(X_test, pd.Series(linreg_converted_list_y_test))

# print("Accuracy on Linear Regression training data:", linreg_acc_train)
# print("Accuracy on Linear Regression testing data:", linreg_acc_test)

['<=50K' '<=50K' '<=50K' ..., '<=50K' '<=50K' '<=50K']

# [done] 2 pts Compute the accuracy of predictions on the test set
## Gaussian Naive Bayes  Accuracy

In [24]:
gnb_acc_train = gnb.score(X_train, y_train)
gnb_acc_test = gnb.score(X_train, y_train)

print("Accuracy on training data gaussian naive bayes:", gnb_acc_train)
print("Accuracy on test data gaussian naive bayes:", gnb_acc_test)

Accuracy on training data gaussian naive bayes: 0.79477423791
Accuracy on test data gaussian naive bayes: 0.79477423791

# Gaussian Naive Bayes Metrics

In [17]:
print(classification_report(y_test, gnb_prediction))

             precision    recall  f1-score   support

      <=50K       0.81      0.95      0.88      8173
       >50K       0.65      0.31      0.42      2573

avg / total       0.77      0.79      0.77     10746


# [Extra Credit] KNeighbors Classifier

In [45]:

from sklearn.neighbors import KNeighborsClassifier

k = 4
knn = KNeighborsClassifier(n_neighbors=k) 
knn.fit(X_train, y_train)
knn_predict = knn.predict(X_test)

print(knn_predict)

['<=50K' '<=50K' '<=50K' ..., '<=50K' '<=50K' '<=50K']

# KNeighbors Classifier Acurracy

In [84]:
knn_acc_train = knn.score(X_train, y_train)
knn_acc_test = knn.score(X_test, y_test)

print("Accuracy on training data KNeighbors", knn_acc_train)
print("Accuracy on test data KNeighborss:", knn_acc_test)

Accuracy on training data KNeighbors 0.83442585377
Accuracy on test data KNeighborss: 0.785129350456

# KNeighbors Classifier Metrics

In [116]:
print(classification_report(y_test, knn_predict))

             precision    recall  f1-score   support

      <=50K       0.80      0.95      0.87      8173
       >50K       0.63      0.25      0.36      2573

avg / total       0.76      0.79      0.75     10746


# [Extra Credit]   LINEAR REGRESSION Classifier

### Needed to convert to binary for y_train because this classification does not take in strings

In [121]:


# score_lr = accuracy_score(y_test, y_predict_logreg)
# print("Acurracy on Logistic Regression Classifier: " , score_lr)


# y_test_list = list(y_test)
# linreg_converted_list_y_test= convert_from_string_to_binary(y_test_list)


# linreg_acc_train = linreg.score(X_train, linreg_converted_list_y_train)
# linreg_acc_test = linreg.score(X_test, pd.Series(linreg_converted_list_y_test))

# print("Accuracy on Linear Regression training data:", linreg_acc_train)
# print("Accuracy on Linear Regression testing data:", linreg_acc_test)from sklearn.linear_model import LinearRegression

def convert_from_string_to_binary(list_a):
    temp_list = []
    for item in list_a:
        if item == '<=50K':
            temp_list.append(0.0)
        else:
            temp_list.append(1.0)
    return temp_list

    
linreg = LinearRegression()
y_train_list = list(y_train)
linreg_converted_list_y_train = convert_from_string_to_binary(y_train_list)


linreg.fit(X_train, linreg_converted_list_y_train)
linreg_prediction = linreg.predict(X_test)
print(linreg_prediction)

[-0.11429084  0.22672455  0.06205161 ...,  0.47498604 -0.0514943   0.0324813 ]



# LINEAR REGRESSION Classifier Acurracy

### Needed to convert to binary for y_test because this classification does not take in strings

In [119]:
y_test_list = list(y_test)
linreg_converted_list_y_test= convert_from_string_to_binary(y_test_list)

linreg_acc_train = linreg.score(X_train, linreg_converted_list_y_train)
linreg_acc_test = linreg.score(X_test, pd.Series(linreg_converted_list_y_test))

print("Accuracy on Linear Regression training data:", linreg_acc_train)
print("Accuracy on Linear Regression testing data:", linreg_acc_test)

Accuracy on Linear Regression training data: 0.369008839951
Accuracy on Linear Regression testing data: 0.365795597935

 
# [Extra Credit]   Logistic Regression  Classifier

In [120]:
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

y_predict_logreg = logreg.predict(X_test)
print(y_predict_logreg)

['<=50K' '<=50K' '<=50K' ..., '<=50K' '<=50K' '<=50K']



# Logistic Regression Classifier Acurracy

In [138]:
logreg_acc_train = logreg.score(X_train, y_train)
logreg_acc_test = logreg.score(X_test, y_test)

print("Accuracy on Logisitc Regression training data:", logreg_acc_train)
print("Accuracy on Logisitc Regression testing data:", logreg_acc_test)

Accuracy on Logisitc Regression training data: 0.797937199175
Accuracy on Logisitc Regression testing data: 0.795737949004



# Logistic Regression  Metrics

In [139]:
print(classification_report(y_test, y_predict_logreg))

             precision    recall  f1-score   support

      <=50K       0.81      0.97      0.88      8173
       >50K       0.70      0.26      0.38      2573

avg / total       0.78      0.80      0.76     10746

# DATA DICTIONARY
 age: continuous.

 workclass: 
 
 fnlwgt: continuous.
 
 education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
 
 education-num: continuous.
 
 marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
 
 occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
 
 relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
 
 race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
 
 sex: Female, Male.
 
 capital-gain: continuous.

 capital-loss: continuous.

 hours-per-week: continuous.

 native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.